@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
    /* background-size: contain; */
  }

html,
body {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Hide default styling of details/summary */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* https://10015.io/tools/css-loader-generator */

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #f1f2ff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

  .yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }

  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }
  .lable-style {
    @apply text-[14px] text-richblack-5;
  }
  .form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }
  .section_heading {
    @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
  }



  /* .custom-pagination .swiper-pagination-bullet {
    background-color: #9a9393;
  }
  
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: #ccc;
  } */

  /* Default bullet style */
.swiper-pagination-bullet {
  background-color: #cccc !important;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 1;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Active bullet style */
.swiper-pagination-bullet-active {
  background-color: #ccc !important;
  transform: scale(1.2);
}

